.form-group {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-control {
    width: 50%;
}

p {
    text-align: center;
}

button{
    justify-self: center;
    display: block;
}
img{
    justify-self: center;
    display: block;
}

.gicon {
    width: 40px;
    height: 40px;
}