<form>
        <div class="form-group mb-3">

            <input type="email" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="email"  id="inputcucc1" aria-describedby="email" placeholder="E-mail cím">
        </div>
        <div class="form-group mb-3">

            <input type="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="password"  class="form-control" id="inputcucc2" placeholder="Jelszó">
        </div>

    <p>Nincs még fiókod? <a routerLink="/register">Készíts egyet most!</a></p>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" required>
        <label class="form-check-label">Elfogadom az <a routerLink="/aszf">ÁSZF</a>-et.</label>
    </div>
    <button class="btn btn-primary mt-2" (click)="login()">Bejelentkezés</button>
    <img src="gicon.webp" class="gicon" (click)="loginWithGoogle()"/>
</form>
